.topnav {
    overflow: hidden;
    background-color: #2C2F33;}
.topnav a {
    float: left;
    display: block;
    color: #FFFFFF;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;}
.topnav a:hover {
    background-color: #FFFFFF;
    color: black;}
@media screen and (max-width: 600px) {
    .topnav a {
      float: none;
      width: 100%;}
  }
a {
    color: #FFFFFF;}
a:hover {
      color: #7289DA;}
ul a {
    color: #FFFFFF;}
ul a:hover {
    color: #7289DA;}
header {
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    color: #7289DA;}
body {
    background-color: #2C2F33;}
*{
    box-sizing: border-box;}
.column {
    float: left;
    width: 50%;
    padding: 10px;}
.flex-container {
    flex-direction: column;
    display: flex;
    background-color: #2C2F33;}
.flex-container > div {
    background-color: #2C2F33;}